.lesson-container {
  width: 100%;
  padding: 30px;
  // background-color: rgba(226, 22, 118, 0.3);
  // opacity: .9;
  overflow-y: scroll;
  h1 {
    text-align: center;
  }
  .list-item:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
}


