.list-item {
  @include yellow-background;
  @include display-flex(column);
  align-items: flex-start;
  box-sizing: border-box;
  margin: 20px;
  padding: 10px;
  &:hover {
    cursor: pointer;
  }
}