.question-card {
  text-align: center;
  width: 750px;
  padding-bottom: 0;
  padding: 10px;
  display: grid;
  grid-template-rows: 60px 80px 1fr 100px; 
  // grid-template-columns: 550px;
  // background-color: $light-pink;
    // background-color: yellow;
    @include slider;


 @include yellow-background;
 transform: rotate(2deg);
  transform: skew(-1deg,1deg);
  h3 {
    font-size: 1.6rem;
    word-wrap: break-word;
  }
  .fa-star {
    font-size: 40px;
  }
}

.stored-card {
  grid-template-rows: 200px 1fr 200px; 
  padding-top: 40px
}



form {
 @include display-flex(column);
  width: 100%;
  input, button {
    height: 50px;
    font-size: 1.2rem;
  }
  input {
    width: 400px;
  }
  div {
    @include display-flex(row);
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }
  button:hover {
    cursor: pointer;
  }
}

.submit-ans-btn, .skip-ans-btn, .fa-star, .fa-trash-alt {
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
  background: whitesmoke;
  border: 4px solid #fff;
  border-radius: 1em;
  padding: 2px;
  color: #222;
  cursor: pointer;
  position: absolute;
  &:hover {
    background: green;
    color: #fff;
    font-size: 22px;
  }
}

.submit-ans-btn {
 bottom: 4%;
  right: 4%;
}
.skip-ans-btn {
 bottom: 4%;
  left: 4%;
}

.fa-star, .fa-trash-alt {
  font-size: 20px;
  width: 50px;
  margin: 2px;
  position: absolute;
  top: 4%;
  right: 2%;
  &:hover {
    font-size: 32px;
  }
}
.fa-trash-alt:hover {
  background: red;
}

