.question-container {
  min-width: 800px;
}

.stored-question {
  color: red;
  width: 10px;
}

.stored-questions-container {
  display: flex;
  flex-direction: row;
  height: 350px;
  margin-bottom: 80px;
  margin: 0;
  overflow-x: scroll;
  position: absolute;
  right: 0%;
  top: 6%;
  width: 60%;
  .question-card {
    font-size: 60%;
    grid-template-columns: 200px;
    grid-template-rows: 80px 80px 1fr 50px; 
    margin: 10px;
    width: 220px;
    h3 {
    font-size: 1rem;
    }
    input, button {
    height: 40px;
    font-size: .4rem;
    }
    input {
      width: 80%;
    }
  }
}

.stored-questions-header {
  display: flex;
  height: 100px;
  justify-content: center;
  margin: 0;
  padding-top: 10px;
  position: absolute;
  right: 0%;
  top: 0%;
  width: 63%;
  z-index: 0;
}

.save-button {
  background: whitesmoke;
  border-radius: 1em;
  border: 4px solid #fff;
  color: #222;
  cursor: pointer;
  font-size: 20px;
  padding: 2px;
  position: absolute;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: ease-out;
  &:hover {
    background: green;
    color: #fff;
    font-size: 22px;
  }
  position: absolute;
  top: 1%;
  right: 2%;
}

.close-button {
  right: 46%;
  z-index: 3;
  &:hover {
    background-color: red;
  }
}

::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0,0,0,.5);
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }


