.question-container {
  padding: 20px;
  // padding-top: 400px;
  @include display-flex(column);
  justify-content: center;
}

.questions-header {
  font-size: 70px;
  height: 200px;
  width: 300px;
  // color: #FAAACA;
}

.stored-question {
  color: red;
  width: 10px;
}

.stored-questions-container {
  position: absolute;
  top: 6%;
  right: 0%;
  width: 60%;
  height: 350px;
  overflow-x: scroll;
  // background-color: white;
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  .question-card {
    width: 220px;
    font-size: 60%;
    margin: 10px;
    // height: 200px;
    grid-template-rows: 80px 80px 1fr 50px; 
    grid-template-columns: 200px;
    h3 {
    font-size: 1rem;
    }
    input, button {
    height: 40px;
    font-size: .4rem;
    }
    input {
      width: 80%;
    }
  }
}

.stored-questions-header {
  // background-color: lightgrey;
  display: flex;
  height: 100px;
  justify-content: center;
  margin: 0;
  padding-top: 10px;
  position: absolute;
  right: 0%;
  top: 0%;
  width: 63%;
  z-index: 0;
}

.save-button {
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
  background: whitesmoke;
  border: 4px solid #fff;
  border-radius: 1em;
  padding: 2px;
  color: #222;
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  &:hover {
    background: green;
    color: #fff;
    font-size: 22px;
  }
  position: absolute;
  top: 1%;
  right: 2%;
}

.close-button {
  right: 46%;
  z-index: 3;
  &:hover {
    background-color: red;
  }
}

::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0,0,0,.5);
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }


