@mixin display-flex($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: space-around;
}

//fonts
@import url('https://fonts.googleapis.com/css?family=Lato');

$font: 'Lato', sans-serif;

//colors
$light-pink: #EEADA4;
$light-tan: #EDD5A9;

//images
