@mixin display-flex($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: space-around;
}

//fonts
@import url('https://fonts.googleapis.com/css?family=Lato');

$font: 'Lato', sans-serif;

//colors
$light-pink: #ffc;
$light-tan: #EDD5A9;

//images
@mixin yellow-background {
  background: linear-gradient(top, rgba(0,0,0,.05), rgba(0,0,0,.25));
  background-color: #FFFD75;
  box-shadow: 5px 5px 10px -2px rgba(33,33,33,.3);
  
}